@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import '@/scss/colors.scss';

html, body {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 4rem;
  font-weight: 100;
}
h2 {
  font-size: 3rem;
  font-weight: 300;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
}
h4 {
  font-size: 1.2rem;
  font-weight: 100;
}
h5 {
  font-size: 1rem;
  font-weight: 300;
}
h6 {
  font-size: 0.8rem;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-text-color;
}

a, p {
  line-height: 1.2em;
}

a {
  transition: color .25s ease;

  color: darkturquoise;
  text-decoration: none;
  outline: 0;

  &:hover {
    color: lightcyan;
  }
}

hr {
  height: 1px;
  border: 0;
  background-image: linear-gradient(90deg, $main-text-color, transparent);
}

body {
  overflow: hidden;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  background: #0f0f0f;
  color: $main-text-color;
  margin: 0;
}
